<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fb6bf75b-9b23-4f6e-b369-d08d44de9eee/resourcegroups/MakeWeBetAPIs20220525195507ResourceGroup/providers/Microsoft.Web/sites/MakeWeBetAPIs20220529154958</ResourceId>
    <ResourceGroup>MakeWeBetAPIs20220525195507ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/fb6bf75b-9b23-4f6e-b369-d08d44de9eee/resourceGroups/MakeWetBetResourceGroup/providers/Microsoft.ApiManagement/service/MakeWeBeApiApp/apis/MakeWeBetAPIs</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://makewebetapis20220529154958.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>e74f88c4-29f6-424e-8989-c74da9fe7307</ProjectGuid>
    <MSDeployServiceURL>makewebetapis20220529154958.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MakeWeBetAPIs20220529154958</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MakeWeBetAPIs20220529154958</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>